.RData
.Rhistory
.Rproj.user/
Reports/
data/nesreanigeria.db
.httr-oauth
weekly-report-generic.docx
weekly-report-generic.html
packrat/lib*/
.Rproj.user
packrat/* 
.Rprofile 
twitter/twitter-general.docx 
