.httr-oauth
.Rproj.user
.RData
.Rhistory 
NESREATraining_tweets.rds 
Nice_tweets.rds 
Rfacebook.pdf
Rplot.png 
Rplot01.png 
Rplot02.png 
Rplot03.png 
Rplot04.png 
Rplot05.png 
make_corpus-michael-levy.jpg-large 
report-27jul2016.Rmd 
socialmedia.Rproj 
twitteR.pdf 
twitter-26jul2016.pptx 
twitterAuth.R 
reports/* 
